@model IEnumerable<WebApp.Models.Producto>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<article class="col-8 mx-auto mb-5 mt-4">
    <h2 class="titulo-admin pb-3 border-bottom text-center pt-5 mt-5 mx-auto text-uppercase">PRODUCTOS</h2>
</article>

<section class="container d-flex justify-content-end">
    <div class="row align-items-start col-3 mb-4">
        <div class="col">
            <div class="dropdown">
            
                    <button class="btn btn-outline-dark rounded-0 dropdown-toggle boton-orden-filtro" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Filtrar por género
                    </button>
                    <div class="dropdown-menu dropdown-menu-right filtros-menu-drop" aria-labelledby="dropdownMenuButton">
                        <div class="contenedores-panel-filtros">
                            <div class="padre-box-talles">
                                <a href="/Products/FiltroMasculino"><div class="box-talles">Masculino</div></a>
                                <a href="/Products/FiltroFemenino"><div class="box-talles">Femenino</div></a>
                                <a href="/Products/FiltroNiño"><div class="box-talles">Niño</div></a>
                                <a href="/Products"><div class="box-talles">Ver todos</div></a>
                            </div>
                        </div>
                    </div>
                    
       
            </div>
        </div>
    </div>
   
</section>


   
            <div class="container">
                <div class="row align-items-start">
                    @foreach (var item in Model)
                    {

                        <div class="col  d-flex justify-content-center">
                            <div class="card" style="width: 18rem;">
                                <img src="@Html.DisplayFor(modelItem => item.image)" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="row">
                                        <h5 class="card-title ml-3"> @Html.DisplayFor(modelItem => item.name)</h5>
                                        <p class="card-text">
                                            <h5 class="card-title ml-3">$ @Html.DisplayFor(modelItem => item.price)</h5>
                                        </p>
                                    </div>

                                    <p class="card-text">
                                        <h5 class="card-title"> @Html.DisplayFor(modelItem => item.description)</h5>
                                    </p>
                                    <div class="row">
                                        <p class="card-text">
                                            <h5 class="card-title  ml-3"> @Html.DisplayFor(modelItem => item.gender)</h5>
                                        </p>
                                        <p class="card-text">
                                            <h5 class="card-title  ml-3">Stock @Html.DisplayFor(modelItem => item.stock)</h5>
                                        </p>
                                    </div>
                                        <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.id">Ver</a>
                                    </div>
                                </div>
                        </div>
                    }
                </div>
            </div>
